.container {
    background-color: rgb(228, 219, 219);
    height: 500px;
}

h2.title {
    text-align: center;
    color: rgb(83, 44, 35);
}

p.desc {
    text-align: center;
}
 
.cards {
    float:left;
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center; 
    cursor: pointer;
}

.card {
    float:left;
    background-color: blue;
    width: 180px;
    height: 220px; 
    margin-left: 20px;
}

.card-cat {
    float:left;
    width: 180px;
    height: 220px;
    margin-left: 20px;
    background-image: url("img/cat.jpg");
}

.card-dog {
    float:left;
    width: 180px;
    height: 220px;
    margin-left: 20px;
    background-image: url("img/dog.jpg");
}